<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid d-flex justify-content-between">
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <img src="../../../favicon.ico" height="30"/>
                    
                    <a class = "navbar-brand" routerLink=""> &emsp; NgPokedex</a>      
                </li>
                <li class="navbar-item">
                    <a class="nav-link" routerLink="">Welcome Page</a> 
                </li>
                <li class="navbar-item">
                    <a class="nav-link" routerLink="pokedex">Search for a Pokemon</a> 
                </li>
            </ul>
    </div>
</nav> 