<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container-fluid">

        <a class = "navbar-brand" routerLink="">
            NgPokedex
        </a>

        <div class = "collapse navbar-collapse">

            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a class="nav-link" routerLink="">Welcome Page</a> 
                </li>
                <li class="navbar-item">
                    <a class="nav-link" routerLink="pokedex">Search for a Pokemon</a>
                </li>
            </ul>

        </div>

    </div>

</nav> 