<div class="nameDiv" [hidden]="nameDivToggle">
    <label for="myName">What's your name?</label>
    <!--Two Way Binding to assign the user input to this "name" variable in the TS-->
    <input type="text" id="myName" [(ngModel)] = "name"/>
    <button class="button" (click)="submitName()">Submit!</button>
</div>

<div class="greeterDiv">
    <!--Button to toggle whether the cards are hidden-->
    <!--Event Binding!! to perform the showTodoList() function after a button click-->
    <button class="button" (click)=showTodoList()>Show Todos!</button>
</div>

<div class="grid-container">

    <!-- Property Binding!! binding an HTML attribute(property) to a TS variable's value-->
    <div class="todo-card" [hidden]="hiddenToggle">
        <!--String Interpolation!! Taking TS values and putting them in our HTML-->
        <!--We'll be grabbing these values from the todo objects in the todos Array-->
        <h2>Todo #{{todosArray[0].id}}</h2>
        <p>Task: {{todosArray[0].content}}</p>
        <p>Status: {{todosArray[0].status}}</p>
    </div>

    <div class="todo-card" [hidden]="hiddenToggle">
        <h2>Todo #{{todosArray[1].id}}</h2>
        <p>Task: {{todosArray[1].content}}</p>
        <p>Status: {{todosArray[1].status}}</p>
    </div>

    <div class="todo-card" [hidden]="hiddenToggle">
        <h2>Todo #{{todosArray[2].id}}</h2>
        <p>Task: {{todosArray[2].content}}</p>
        <p>Status: {{todosArray[2].status}}</p>
    </div>

    <div class="todo-card" [hidden]="hiddenToggle">
        <h2>Todo #{{todosArray[3].id}}</h2>
        <p>Task: {{todosArray[3].content}}</p>
        <p>Status: {{todosArray[3].status}}</p>
    </div>

</div>


