<div class="nameDiv" [hidden]="nameDivToggle">
    <label for="myName">What's your name?</label>
    <!--Two Way Binding to assign the user input to this "name" variable in the TS-->
    <input type="text" id="myName" [(ngModel)] = "name"/>
    <button class="button" (click)="submitName()">Submit!</button>
</div>

<!--This is a directive! Basically Angular control flow to determine IF some HTML get rendered-->
<!--If the "name" variable is empty, this won't show up (empty String is a falsy value)-->
<!--But as soon as the user enters something in the 2 way binding above, it will render-->
<h2 *ngIf = "name">Welcome, {{name}}</h2>

<div class="greeterDiv">
    <!--Button to toggle whether the cards are hidden-->
    <!--Event Binding!! to perform the showTodoList() function after a button click-->
    <button class="button" (click)=showTodoList()>Show Todos!</button>
</div>

<div class="grid-container">

    <!-- Property Binding!! binding an HTML attribute(property) to a TS variable's value-->
    <!-- *ngFor is a structural directive that renders HTML for every object in an array-->
    <div *ngFor = "let todo of todosArray" class="todo-card" [hidden]="hiddenToggle">
        <!--String Interpolation!! Taking TS values and putting them in our HTML-->
        <!--We'll be grabbing these values from the todo objects in the todos Array-->
        <h2>Todo #{{todo.id}}</h2>
        <p>Task: {{todo.content}}</p>
        <p>Status: {{todo.status}}</p>
        <label for="updateBox{{todo.id}}">Update Task</label>
        <input id="updateBox{{todo.id}}" [(ngModel)]="todo.content"/>
        <button class="button" (click)="completeTask(todo.id)">Task Completed</button>
    </div>

</div>


