<div class="container-fluid">

    <div class="row" style="margin: .5em; margin-left: 0em;">
        <!--Two way binding this input field to a variable called input in pokedex.component.ts-->
        <input class="col-lg-3" type="number" [(ngModel)] = "input"/>
        <!--Event binding on this button to call the getPoke() function in pokedex.component.ts-->
        <button class="btn btn-dark col-lg-2" (click)="getPoke()">Choose Pokemon</button>
    </div>

    <!-- I want to make a table to hold the information of the Pokemon Observable that I GET-->
    <table class="table table-striped table-hover" *ngIf="pokemon">
        <thead>
            <th scope="col-lg-3">Name</th>
            <th scope="col-lg-3">Type</th>
            <th scope="col-lg-3">Sprite</th>
        </thead>

        <!--This data will be based on the Pokemon observable that we get-->
        <tbody>
            <tr>
                <!--We will be string interpolating the values of the Pokemon object-->
                <td>{{pokemon.name}}</td>
                <td>
                    {{pokemon.types[0].type.name}}   
                    <span *ngIf="pokemon.types.length>1">{{pokemon.types[1].type.name}}</span>
                </td>
                <td><img src="{{pokemon.sprites.front_default}}"/></td>
            </tr>
        </tbody>
    </table>
</div>