<app-new-component></app-new-component>
<!-- Above, we use the selector of our new component to STATICALLY display on the webpage -->
<br>
<p>This is the less dynamic way to display components</p>
<!-- I also wrote some HTML directly in here, which isn't common but you can do it-->

<app-new-component></app-new-component> <!-- We can do this as many times as we want -->


<!-- This is what makes a call to the Routes awway in app-routing.module.ts -->
<!-- for dynamic component display. We just have to go to the appropriate URL-->
<router-outlet></router-outlet>